@font-face {
  font-family: 'BV';
  src: url('fonts/BV/BV.woff2') format('woff2'), url('fonts/BV/BV.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HTTYD';
  src: url('fonts/HTTYD/HTTYD.woff2') format('woff2'), url('fonts/HTTYD/HTTYD.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KFP';
  src: url('fonts/KFP/KFP.woff2') format('woff2'), url('fonts/KFP/KFP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ninjago';
  src: url('fonts/Ninjago/Ninjago.woff2') format('woff2'), url('fonts/Ninjago/Ninjago.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NK';
  src: url('fonts/NK/NK.woff2') format('woff2'), url('fonts/NK/NK.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MC';
  src: url('fonts/MC/MC.woff2') format('woff2'), url('fonts/MC/MC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AD';
  src: url('fonts/AS/AS.woff2') format('woff2'), url('fonts/AD/AD.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --1-col: #ffa500;
  --2-col: #ffffff;
  --3-col: #823CB6;
  --4-col: #94E78E;
}
.WholeSite {
  width: 94.5%;
  background-color: var(--3-col);
}
.Main, .Header, .SideNav, .Footer {
  display: inline-block;
  float: left;
}
.Main a {
  text-decoration: none;
  color: var(--2-col);
}
.Main a:hover {
  background-color: var(--3-col);
}
.SideNav {
  width: 10%;
  height: 100%;
  background-color: var(--2-col);
}
.Home {
  padding: 2.5%;
  background-color: var(--1-col);
  color: var(--2-col);
  font-size: 100%;
  font-family: BV;
}
.Main {
  width: 85%;
}
.Footer, .Header {
  padding: 2.5%;
  margin: 2%;
  width: 96%;
  background-color: var(--4-col);
  color: var(--2-col);
}
.SideNav a {
  padding: 2.5%;
  text-decoration: none;
  font-size: 100%;
  color: var(--1-col);
  display: block;
  font-family: BV;
}
.SideNav a:hover {
  color: var(--4-col);
}
.Main li {
  color: var(--2-col);
  font-size: 100%;
  font-family: BV;
}
.Header h1, .Header h2 {
  text-align: center;
}
.Header h1 {
  font-size: 300%;
  font-family: MC;
}
.Header h2 {
  font-size: 150%;
  font-family: AD;
}
.Footer p {
  font-size: 100%;
  font-family: BV;
}
.Main img {
  width: 100%;
}
.Updraftia {
  color: darkred;
  background-color: black;
  padding: 1.5%;
}
.Updraftia h1 {
  text-align: center;
  font-family: Givry;
  font-size: 200%;
}
.Updraftia p, .Updraftia li {
  font-family: BV;
  font-size: 125%;
  color: darkred;
}
.Updraftia a {
  color: darkred;
}
.Updraftia a:hover {
  color: white;
}
.Ninjago {
  background-color: royalblue;
  padding: 1.5%;
}
.Ninjago h1 {
  text-align: center;
  font-family: Ninjago;
  font-size: 200%;
  color: rebeccapurple;
}
.Ninjago p, .Ninjago li {
  font-family: BV;
  font-size: 125%;
  color: yellow;
}
.Ninjago a {
  color: yellow;
}
.Ninjago a:hover {
  color: rebeccapurple;
}
.HTTYD {
  background-color: #D8F197;
  padding: 1.5%;
}
.HTTYD h1 {
  text-align: center;
  font-family: HTTYD;
  font-size: 200%;
  color: red;
}
.HTTYD p, .HTTYD li {
  font-family: BV;
  font-size: 125%;
  color: #188F6F;
}
.HTTYD a {
  color: #188F6F;
}
.HTTYD a:hover {
  color: red;
}
.KFP {
  background-color: coral;
  padding: 1.5%;
}
.KFP h1 {
  text-align: center;
  font-family: KFP;
  font-size: 200%;
  color: red;
}
.KFP p, .KFP li {
  font-family: BV;
  font-size: 125%;
  color: teal;
}
.KFP a {
  color: teal;
}
.KFP a:hover {
  color: red;
}
.NK {
  background-color: teal;
  padding: 1.5%;
}
.NK h1 {
  text-align: center;
  font-family: NK;
  font-size: 200%;
  color: gainsboro;
}
.NK p, .NK li {
  font-family: BV;
  font-size: 125%;
  color: orange;
}
.NK a {
  color: orange;
}
.NK a:hover {
  color: gainsboro;
}
.UpdraftiaFont {
  font-family: Givry;
}
.NinjagoFont {
  font-family: Ninjago;
}
.HTTYDFont {
  font-family: HTTYD;
}
.KFPFont {
  font-family: KFP;
}
.NKFont {
  font-family: NK;
}