@font-face {
    font-family: 'BV';
    src: url('fonts/BV/BV.woff2') format('woff2'), url('fonts/BV/BV.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'MC';
    src: url('fonts/MC/MC.woff2') format('woff2'), url('fonts/MC/MC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AD';
    src: url('fonts/AS/AS.woff2') format('woff2'), url('fonts/AD/AD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --1-col: #ffa500;
    --2-col: #ffffff;
    --3-col: #823CB6;
    --4-col: #94E78E;
}

.WholeSite {
    width: 94.5%;
    background-color: var(--3-col);
}

.Main,
.Header,
.TopNav,
.Footer {
    display: block;
    width: 100%;
    padding: 2.5%;
}

.Footer,
.Header {
    background-color: var(--4-col);
    color: var(--2-col);
}

.TopNav {
    background-color: var(--2-col);
}

.TopNav a {
    padding: 2.5%;
    text-decoration: none;
    font-size: 100%;
    color: var(--1-col);
    display: inline;
    font-family: BV;
}

.TopNav a:hover {
    color: var(--2-col);
    background-color: var(--1-col);
}

.Header h1,
.Header h2 {
    text-align: center;
}

.Header h1 {
    font-size: 300%;
    font-family: MC;
}

.Header h2 {
    font-size: 150%;
    font-family: AD;
}

.Footer p {
    font-size: 100%;
    font-family: BV;
}

.Main img {
    display: block;
    margin: auto;
    width: 50%;
}


.Home {
    padding: 2.5%;
    color: var(--2-col);
    background-color: var(--1-col);
    font-size: 100%;
    font-family: BV;
}

.Home a {
    text-decoration: none;
    color: var(--2-col);
}

.Home a:hover {
    background-color: var(--3-col);
}

.Home h1 {
    font-size: 300%
}

.Home h2 {
    font-size: 200%
}

.Home h3 {
    font-size: 150%
}

.Home h4 {
    font-size: 125%
}
